<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>servletPrj</display-name>

<servlet>
	<servlet-name>first</servlet-name>
	<servlet-class>kr.hs.servlet.FirstServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>first</servlet-name>
	<url-pattern>/hello</url-pattern>
</servlet-mapping>
<!-- http://localhost:8080/hello로 접속했을 때 frist라고 이름지어진
FirstServlet.class를 실행하겠다. (WEB-IF/Classes/.class) -->

<servlet>
	<servlet-name>Second</servlet-name>
	<servlet-class>kr.hs.servlet.SecondServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Second</servlet-name>
	<url-pattern>/a</url-pattern>
</servlet-mapping>
</web-app>


